body {
  background-color: black;
  color: rgb(205, 205, 205);
}
.logo {
  width: 20vh;
}
.navbar {
  @apply w-full;
}
.main {
  @apply w-full my-44 m-auto flex flex-col items-center justify-center  mx-auto h-fit;
}
.m-1 {
  @apply text-4xl   w-auto;
  color: rgb(201, 169, 7);
}
.m-2 {
  @apply w-auto;
}
.m-3 {
  @apply text-xl;
}
